<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>ClinicaOdonto</title>
        <%= stylesheet_link_tag 'style', :media => 'all' %>
		<%= javascript_include_tag :defaults %>
        <%= javascript_include_inputs %>
    </head>
    <body>
        <div id="hold">
            <div id="container" class="container">
                <%= image_tag(image_path("header.gif"))%>
                <div id="content" class="conteudo">
                    <div id="left" class="esquerda">
                        <div id="menu_esquerda" class="leftnav">
                        <!--	<%= link_to "Agenda de consultas", :controller => :consultas, :action=>:index %> -->
							<%= link_to "Pacientes", :controller => :pacientes, :action=>:index %>
                            <%= link_to "Dentistas", :controller => :dentistas, :action=>:index %>
							<%= (session[:usuario_admin]) ? (link_to "Usuários", :controller => :usuarios, :action=>:index) : "" %>
                        </div>
                    </div>
                    <div id="right" class="direita">
                        <div id="join" class="join">                            
							<%= yield %>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer1" class="footer">
                <a href="http://www.free-css.com/">Home</a>
                <a href="http://www.free-css.com/">|</a>
                <a href="http://www.free-css.com/">Sign Up</a>
                <a href="http://www.free-css.com/">|</a>
                <a href="http://www.free-css.com/">Tools</a>
                <a href="http://www.free-css.com/">|</a>
                <a href="http://www.free-css.com/">FAQ</a>
                <a href="http://www.free-css.com/">|</a>
                <a href="http://www.free-css.com/">Contact Us</a>
            </div>
            <div id="footer2" class="footer">
                <p>
                    All Content Copyright © 2006 <strong>Hitsnapper.com</strong>. All rights reserved.
                </p>
            </div>
            </body>
