<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>ClinicaOdonto</title>
        <%= stylesheet_link_tag 'style', :media => 'all' %>
        <%= jqgrid_stylesheets %>
        <%= stylesheet_link_tag 'jquery-ui-1.8.9.custom' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_inputs %>
		<%= javascript_include_tag 'jqgrid/i18n/grid.locale-pt-br' %>
        <%= jqgrid_javascripts %>
        <%= javascript_include_tag 'jquery.rest' %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		<%= javascript_include_tag "jquery.validate.min" %>
		<%= javascript_include_tag 'fullcalendar', 'gcal', 'application' %>
		<%=stylesheet_link_tag 'fullcalendar' %>
        <script>
            $(function(){
                $("#accordion").accordion();
            });
        </script>
    </head>
    <body>
        <!-- Begin Wrapper -->
        <div id="wrapper">
            <!-- Begin Header -->
            <div id="header">
                 
            </div>
            <!-- End Header --><!-- Begin Faux Columns -->
            <div id="faux">
                <!-- Begin Left Column -->
                <div id="leftcolumn">
                	<div id="accordion">
                            <h3><a href="#">Agenda</a></h3>
                            <div>
                            	<!-- <%= link_to "Home", :controller => :home, :action=>:index %> -->
                                <%= link_to "Agenda", :controller => :consultas, :action=>:index %>
                                <%= link_to "Pacientes", :controller => :pacientes, :action=>:index %>                                
                                <!-- <%= (session[:usuario_admin]) ? (link_to "Usuários", :controller => :usuarios, :action=>:index) : "" %> -->
                            </div>
							<h3><a href="#">Financeiro</a></h3>
                            <div>
                            </div>
							<h3><a href="#">Cadastros gerais</a></h3>
                            <div>
                            	<%= link_to "Dentistas", :controller => :dentistas, :action=>:index %>
                                <%= link_to "Contatos", :controller => :contatos, :action=>:index %>
                            </div>	
                        </div>
                </div>
                <!-- End Left Column --><!-- Begin Right Column -->
                <div id="rightcolumn">
                    <%= yield %>
                    <div class="clear">
                    </div>
                </div>
                <!-- End Right Column -->
            </div>
            <!-- End Faux Columns -->
        </div>
        <!-- End Wrapper -->
    </body>
